* @fireblocks-solutions-engineering

# Recovery Utility
packages/app/ @fireblocks-solutions-engineering @Burry @gburry-fireblocks

# Recovery Relay
packages/relay/ @fireblocks-solutions-engineering @Burry @gburry-fireblocks

# Shared JS
packages/shared/ @fireblocks-solutions-engineering @Burry @gburry-fireblocks

# Python DRS Server
packages/server/ @fireblocks-solutions-engineering @agoltzman
