* @fireblocks-solutions-engineering

# Recovery Utility
packages/recovery-utility/ @fireblocks-solutions-engineering @Burry @gburry-fireblocks

# Recovery Relay
packages/recovery-relay/ @fireblocks-solutions-engineering @Burry @gburry-fireblocks

# Shared frontend components and utilities
packages/shared/ @fireblocks-solutions-engineering @Burry @gburry-fireblocks

# Extended Key Recovery module
packages/extended-key-recovery/ @fireblocks-solutions-engineering @agoltzman

# Wallet Derivation helpers
packages/wallet-derivation/ @fireblocks-solutions-engineering @Burry @gburry-fireblocks
